.version.caulk_cove_guest_cottage__new_construction /* version checker */
{
	color: #000008;
	background-color: #9C65A0;
}

.html
{
	background-color: #23310C;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 799.831157533592px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #23310C;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -104px;
	padding-bottom: 10px;
	width: 0.01px;
}

#pu13058
{
	width: 0.01px;
	margin-left: -100px;
}

#u13058
{
	z-index: 7;
	height: 911px;
}

#u13058-bw
{
	z-index: 7;
	margin-top: 1px;
	height: 913px;
}

#u14573
{
	z-index: 8;
	width: 100px;
	min-height: 25px;
	margin-right: -10000px;
	left: 147px;
}

#u6026
{
	z-index: 9;
	width: 918px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 121px;
}

#u6026_clip
{
	overflow: hidden;
	width: 918px;
	height: 641px;
}

#u6026_img
{
	margin-top: 17px;
	margin-bottom: -1px;
}

#u6036
{
	z-index: 11;
	width: 488px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 719px;
	left: 121px;
}

#u6051
{
	z-index: 15;
	width: 414px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 719px;
	left: 625px;
}

#projecttop
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 68px;
}

#pu10436
{
	width: 0.01px;
	padding-bottom: 913px;
	margin-left: -100px;
	margin-top: -1340px;
}

#u10436
{
	z-index: 6;
	height: 911px;
	bottom: 36px;
}

#u10436-bw
{
	z-index: 6;
}

#u12072
{
	z-index: 23;
	height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #23310C;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: fixed;
	top: 74px;
}

#u12072-bw
{
	z-index: 23;
}

#u12911
{
	z-index: 28;
	height: 5px;
	top: -1px;
}

#u12911-bw
{
	z-index: 28;
}

#u12912
{
	z-index: 29;
	height: 70px;
	top: 4px;
}

#u12912-bw
{
	z-index: 29;
}

#u12913
{
	z-index: 30;
	width: 220px;
	top: 30px;
	left: 50%;
	margin-left: -438px;
}

#u12913_img
{
	padding-right: 11px;
	padding-bottom: 20px;
}

#u12073-4
{
	z-index: 24;
	width: 378px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	position: fixed;
	top: 75px;
	left: 50%;
	margin-left: -179px;
}

#menuu14331
{
	z-index: 32;
	width: 583px;
	top: 4px;
	left: 50%;
	margin-left: -150px;
}

#u14353
{
	width: 144px;
	min-height: 70px;
	margin-right: -10000px;
}

#u14354
{
	width: 144px;
	padding-bottom: 45px;
}

#u14354:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14354:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14356-4
{
	width: 136px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u14354:hover #u14356-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14354:active #u14356-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14358
{
	width: 313px;
	top: 70px;
}

#u14410
{
	width: 313px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u14410:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14412-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u14410:hover #u14412-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14454
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14410.MuseMenuActive,#u14454:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14457-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14410.MuseMenuActive #u14412-4,#u14454:hover #u14457-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14370
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14454.MuseMenuActive,#u14370:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14371-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14454.MuseMenuActive #u14457-4,#u14370:hover #u14371-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14391
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14370.MuseMenuActive,#u14391:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14393-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14370.MuseMenuActive #u14371-4,#u14391:hover #u14393-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14382
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14391.MuseMenuActive,#u14382:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14385-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14391.MuseMenuActive #u14393-4,#u14382:hover #u14385-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14426
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14382.MuseMenuActive,#u14426:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14427-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14382.MuseMenuActive #u14385-4,#u14426:hover #u14427-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14403
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14426.MuseMenuActive,#u14403:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14405-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14426.MuseMenuActive #u14427-4,#u14403:hover #u14405-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14461
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14403.MuseMenuActive,#u14461:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14464-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14403.MuseMenuActive #u14405-4,#u14461:hover #u14464-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14363
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14461.MuseMenuActive,#u14363:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14365-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14461.MuseMenuActive #u14464-4,#u14363:hover #u14365-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14440
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14363.MuseMenuActive,#u14440:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14442-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14363.MuseMenuActive #u14365-4,#u14440:hover #u14442-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14375
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14440.MuseMenuActive,#u14375:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14376-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14440.MuseMenuActive #u14442-4,#u14375:hover #u14376-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14396
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14375.MuseMenuActive,#u14396:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14397-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14375.MuseMenuActive #u14376-4,#u14396:hover #u14397-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14447
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14396.MuseMenuActive,#u14447:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14449-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14396.MuseMenuActive #u14397-4,#u14447:hover #u14449-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14417
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14447.MuseMenuActive,#u14417:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14420-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14447.MuseMenuActive #u14449-4,#u14417:hover #u14420-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14359,#u14409,#u14451,#u14367,#u14388,#u14381,#u14423,#u14402,#u14458,#u14360,#u14437,#u14374,#u14395,#u14444,#u14416,#u14430
{
	width: 313px;
}

#u14431
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14417.MuseMenuActive,#u14431:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14431.MuseMenuActive
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14433-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14417.MuseMenuActive #u14420-4,#u14431:hover #u14433-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14431.MuseMenuActive #u14433-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14332
{
	width: 144px;
	min-height: 70px;
	margin-right: -10000px;
	left: 146px;
}

#u14335
{
	width: 144px;
	padding-bottom: 45px;
}

#u14354.MuseMenuActive,#u14335:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14335:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14336-4
{
	width: 136px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u14354.MuseMenuActive #u14356-4,#u14335:hover #u14336-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14335:active #u14336-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14339
{
	width: 144px;
	min-height: 70px;
	margin-right: -10000px;
	left: 292px;
}

#u14342
{
	width: 144px;
	padding-bottom: 45px;
}

#u14335.MuseMenuActive,#u14342:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14342:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14342.MuseMenuActive
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14345-4
{
	width: 136px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u14335.MuseMenuActive #u14336-4,#u14342:hover #u14345-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14342:active #u14345-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14342.MuseMenuActive #u14345-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14346
{
	width: 145px;
	min-height: 70px;
	margin-right: -10000px;
	left: 438px;
}

#u14347
{
	width: 145px;
	padding-bottom: 45px;
}

#u14347:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u14347:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u14347.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u14348-4
{
	width: 137px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u14347:hover #u14348-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u14347:active #u14348-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u14347.MuseMenuActive #u14348-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u11506
{
	z-index: 150;
	width: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	position: fixed;
	top: 75px;
	left: 50%;
	margin-left: 204px;
}

#u11507-4
{
	z-index: 151;
	width: 82px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: #9F8560;
	line-height: 10px;
	text-align: center;
	font-size: 8px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 75px;
	left: 50%;
	margin-left: 204px;
}

#u11507-4:hover
{
	background-color: #BDAC92;
	background-color: rgba(159,133,96,0.68);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 82px;
	margin: 0px 0px 0px 204px;
	-pie-background: rgba(159,133,96,0.68);
}

#u11508
{
	z-index: 155;
	width: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	position: fixed;
	top: 75px;
	left: 50%;
	margin-left: 286px;
}

#u11509-4
{
	z-index: 156;
	width: 74px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: #9F8560;
	line-height: 10px;
	text-align: center;
	font-size: 8px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 75px;
	left: 50%;
	margin-left: 286px;
}

#u11509-4:hover
{
	background-color: #BDAC92;
	background-color: rgba(159,133,96,0.68);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 74px;
	margin: 0px 0px 0px 286px;
	-pie-background: rgba(159,133,96,0.68);
}

#u11510
{
	z-index: 160;
	width: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	position: fixed;
	top: 75px;
	left: 50%;
	margin-left: 360px;
}

#u11511-4
{
	z-index: 161;
	width: 74px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: #9F8560;
	line-height: 10px;
	text-align: center;
	font-size: 8px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 75px;
	left: 50%;
	margin-left: 360px;
}

#u11511-4:hover
{
	background-color: #BDAC92;
	background-color: rgba(159,133,96,0.68);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 74px;
	margin: 0px 0px 0px 360px;
	-pie-background: rgba(159,133,96,0.68);
}

#u11507-2,#u11509-2,#u11511-2
{
	padding-top: 6px;
}

#u6041
{
	z-index: 13;
	width: 918px;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 11px;
	position: relative;
}

#pu6056
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 10px;
}

#u6056
{
	z-index: 17;
	width: 483px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6056_clip
{
	overflow: hidden;
	width: 483px;
	height: 624px;
}

#u6056_img
{
	margin-bottom: -100px;
}

#pu6061
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 497px;
}

#u6061
{
	z-index: 19;
	width: 421px;
	background-color: transparent;
	position: relative;
}

#u6066
{
	z-index: 21;
	width: 421px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u14718-4
{
	z-index: 2;
	width: 918px;
	min-height: 31px;
	margin-left: 21px;
	margin-top: 59px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 104px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

