.FOOTER
{
	font-family: french-canon-small-caps-n4, serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.MainBody,.Paragraph-Style,.Main-Copy
{
	font-family: abel-n4, sans-serif;
}

.Headline,.Character-Style
{
	font-family: alice-n4, serif;
}

#u11897-4
{
	font-family: muli-n4, sans-serif;
}

#u13182-4
{
	font-family: muli-n4, sans-serif;
}

#u13206-4
{
	font-family: muli-n4, sans-serif;
}

#u13225-4
{
	font-family: muli-n4, sans-serif;
}

#u13244-4
{
	font-family: muli-n4, sans-serif;
}

#u13267-4
{
	font-family: muli-n4, sans-serif;
}

#u13290-4
{
	font-family: muli-n4, sans-serif;
}

#u13309-4
{
	font-family: muli-n4, sans-serif;
}

#u13330-4
{
	font-family: muli-n4, sans-serif;
}

#u13351-4
{
	font-family: muli-n4, sans-serif;
}

#u13370-4
{
	font-family: muli-n4, sans-serif;
}

#u13393-4
{
	font-family: muli-n4, sans-serif;
}

#u13414-4
{
	font-family: muli-n4, sans-serif;
}

#u13434-4
{
	font-family: muli-n4, sans-serif;
}

#u13455-4
{
	font-family: muli-n4, sans-serif;
}

#u13475-4
{
	font-family: muli-n4, sans-serif;
}

#u11764-4
{
	font-family: muli-n4, sans-serif;
}

#u11771-4
{
	font-family: muli-n4, sans-serif;
}

#u14118-4
{
	font-family: muli-n4, sans-serif;
}

#u11402-4
{
	font-family: muli-n3, sans-serif;
}

