.FOOTER
{
	font-family: french-canon-small-caps-n4, serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.MainBody,.Paragraph-Style,.Main-Copy
{
	font-family: abel-n4, sans-serif;
}

.Headline,.Character-Style
{
	font-family: alice-n4, serif;
}

#u14356-4
{
	font-family: muli-n4, sans-serif;
}

#u14412-4
{
	font-family: muli-n4, sans-serif;
}

#u14457-4
{
	font-family: muli-n4, sans-serif;
}

#u14371-4
{
	font-family: muli-n4, sans-serif;
}

#u14393-4
{
	font-family: muli-n4, sans-serif;
}

#u14385-4
{
	font-family: muli-n4, sans-serif;
}

#u14427-4
{
	font-family: muli-n4, sans-serif;
}

#u14405-4
{
	font-family: muli-n4, sans-serif;
}

#u14464-4
{
	font-family: muli-n4, sans-serif;
}

#u14365-4
{
	font-family: muli-n4, sans-serif;
}

#u14442-4
{
	font-family: muli-n4, sans-serif;
}

#u14376-4
{
	font-family: muli-n4, sans-serif;
}

#u14397-4
{
	font-family: muli-n4, sans-serif;
}

#u14449-4
{
	font-family: muli-n4, sans-serif;
}

#u14420-4
{
	font-family: muli-n4, sans-serif;
}

#u14433-4
{
	font-family: muli-n4, sans-serif;
}

#u14336-4
{
	font-family: muli-n4, sans-serif;
}

#u14345-4
{
	font-family: muli-n4, sans-serif;
}

#u14348-4
{
	font-family: muli-n4, sans-serif;
}

#u14718-2
{
	font-family: abel-n4, sans-serif;
}

#u12073-4
{
	font-family: alice-n4, serif;
}

#u11507-4
{
	font-family: muli-n3, sans-serif;
}

#u11509-4
{
	font-family: muli-n3, sans-serif;
}

#u11511-4
{
	font-family: muli-n3, sans-serif;
}

