.version.index /* version checker */
{
	color: #0000FB;
	background-color: #FAF369;
}

.html
{
	background-color: #15351E;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu11755
{
	width: 0.01px;
	padding-bottom: 76px;
	margin-right: -10000px;
	margin-top: -104px;
	margin-left: -100px;
}

#u11755
{
	z-index: 58;
	height: 70px;
	top: 4px;
}

#u11755-bw
{
	z-index: 58;
}

#u11756
{
	z-index: 59;
	height: 5px;
	top: -1px;
}

#u11756-bw
{
	z-index: 59;
}

#u11757
{
	z-index: 60;
	width: 220px;
	top: 30px;
	left: 50%;
	margin-left: -438px;
}

#u11757_img
{
	padding-right: 11px;
	padding-bottom: 20px;
}

#menuu11759
{
	z-index: 62;
	width: 583px;
	top: 4px;
	left: 50%;
	margin-left: -150px;
}

#u11774
{
	width: 144px;
	min-height: 70px;
	margin-right: -10000px;
}

#u11896
{
	width: 144px;
	padding-bottom: 45px;
}

#u11896:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u11896:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u11897-4
{
	width: 136px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u11896:hover #u11897-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u11896:active #u11897-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u11775
{
	width: 313px;
	top: 70px;
}

#u13180
{
	width: 313px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u13180:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13182-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u13180:hover #u13182-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13203
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13180.MuseMenuActive,#u13203:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13206-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13180.MuseMenuActive #u13182-4,#u13203:hover #u13206-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13222
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13203.MuseMenuActive,#u13222:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13225-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13203.MuseMenuActive #u13206-4,#u13222:hover #u13225-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13243
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13222.MuseMenuActive,#u13243:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13244-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13222.MuseMenuActive #u13225-4,#u13243:hover #u13244-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13264
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13243.MuseMenuActive,#u13264:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13267-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13243.MuseMenuActive #u13244-4,#u13264:hover #u13267-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13287
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13264.MuseMenuActive,#u13287:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13290-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13264.MuseMenuActive #u13267-4,#u13287:hover #u13290-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13306
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13287.MuseMenuActive,#u13306:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13309-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13287.MuseMenuActive #u13290-4,#u13306:hover #u13309-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13327
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13306.MuseMenuActive,#u13327:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13330-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13306.MuseMenuActive #u13309-4,#u13327:hover #u13330-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13348
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13327.MuseMenuActive,#u13348:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13351-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13327.MuseMenuActive #u13330-4,#u13348:hover #u13351-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13369
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13348.MuseMenuActive,#u13369:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13370-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13348.MuseMenuActive #u13351-4,#u13369:hover #u13370-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13392
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13369.MuseMenuActive,#u13392:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13393-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13369.MuseMenuActive #u13370-4,#u13392:hover #u13393-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13411
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13392.MuseMenuActive,#u13411:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13414-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13392.MuseMenuActive #u13393-4,#u13411:hover #u13414-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13432
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13411.MuseMenuActive,#u13432:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13434-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13411.MuseMenuActive #u13414-4,#u13432:hover #u13434-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13453
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13432.MuseMenuActive,#u13453:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13455-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13432.MuseMenuActive #u13434-4,#u13453:hover #u13455-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u11776,#u13179,#u13200,#u13221,#u13242,#u13263,#u13284,#u13305,#u13326,#u13347,#u13368,#u13389,#u13410,#u13431,#u13452,#u13473
{
	width: 313px;
}

#u13474
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u13453.MuseMenuActive,#u13474:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13474.MuseMenuActive
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13475-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u13453.MuseMenuActive #u13455-4,#u13474:hover #u13475-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u13474.MuseMenuActive #u13475-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u11760
{
	width: 144px;
	min-height: 70px;
	margin-right: -10000px;
	left: 146px;
}

#u11763
{
	width: 144px;
	padding-bottom: 45px;
}

#u11896.MuseMenuActive,#u11763:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u11763:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u11764-4
{
	width: 136px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u11896.MuseMenuActive #u11897-4,#u11763:hover #u11764-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u11763:active #u11764-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u11767
{
	width: 144px;
	min-height: 70px;
	margin-right: -10000px;
	left: 292px;
}

#u11770
{
	width: 144px;
	padding-bottom: 45px;
}

#u11763.MuseMenuActive,#u11770:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u11770:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u11770.MuseMenuActive
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u11771-4
{
	width: 136px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u11763.MuseMenuActive #u11764-4,#u11770:hover #u11771-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u11770:active #u11771-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u11770.MuseMenuActive #u11771-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14114
{
	width: 145px;
	min-height: 70px;
	margin-right: -10000px;
	left: 438px;
}

#u14115
{
	width: 145px;
	padding-bottom: 45px;
}

#u14115:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u14115:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u14115.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u14118-4
{
	width: 137px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u14115:hover #u14118-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u14115:active #u14118-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u14115.MuseMenuActive #u14118-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#pu13057
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -104px;
	margin-left: -100px;
}

#u13057
{
	z-index: 2;
	height: 911px;
}

#u13057-bw
{
	z-index: 2;
	margin-top: 1px;
	height: 913px;
}

#u8413
{
	z-index: 3;
	height: 911px;
}

#u8413-bw
{
	z-index: 3;
	margin-top: 1px;
	height: 913px;
}

#u14567
{
	z-index: 4;
	width: 100px;
	min-height: 25px;
	margin-right: -10000px;
	left: 147px;
}

#slideshowu1113
{
	z-index: 5;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 255px;
}

#u1181
{
	position: absolute;
	background-color: transparent;
}

#u1181popup
{
	z-index: 6;
}

#u1208
{
	z-index: 7;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1204
{
	z-index: 9;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1190
{
	z-index: 11;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1196
{
	z-index: 13;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1198
{
	z-index: 15;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1184
{
	z-index: 17;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1188
{
	z-index: 19;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1182
{
	z-index: 21;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u14501
{
	z-index: 23;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u14473
{
	z-index: 25;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1200
{
	z-index: 27;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1194
{
	z-index: 29;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1206
{
	z-index: 31;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pamphletu11388
{
	z-index: 33;
	width: 0.01px;
	height: 556px;
	padding-bottom: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 39px;
}

#u11391
{
	position: absolute;
	width: 827px;
}

#u11391popup
{
	z-index: 34;
}

#u11392
{
	z-index: 35;
	width: 827px;
	height: 618px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
}

#pamphletu11393
{
	z-index: 36;
	width: 0.01px;
	height: 126px;
	padding-bottom: 421px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 297px;
}

#u11400
{
	z-index: 37;
	width: 529px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
}

#u11403
{
	position: absolute;
	width: 24px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -98px;
	left: 105px;
}

.ie #u11403
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11403:hover
{
	width: 24px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

.ie #u11403:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11403.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 24px;
	height: 20px;
	min-height: 0px;
	margin: 0px;
}

#u11401
{
	position: absolute;
	width: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 33px;
	top: -40px;
}

#u11401:hover
{
	width: 530px;
	min-height: 0px;
	margin: 0px;
}

#u11401.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	width: 530px;
	min-height: 0px;
	margin: 0px;
}

#u11402-4
{
	z-index: 40;
	width: 529px;
	min-height: 28px;
	background-color: #000000;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	text-align: right;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
}

#u11401:hover #u11402-4
{
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 529px;
	margin: 41px -10000px 0px 0px;
}

#u11401.PamphletThumbSelected #u11402-4
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 529px;
	margin: 41px -10000px 0px 0px;
}

#u11401.PamphletThumbSelected #u11402-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 14px;
	text-align: right;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	padding: 0px;
}

#u11402-2
{
	padding-right: 11px;
	padding-top: 4px;
}

#u11396
{
	position: absolute;
	width: 529px;
	background-color: transparent;
	top: 125px;
}

#u11396popup
{
	z-index: 44;
}

#u11397
{
	z-index: 45;
	width: 529px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #251D16;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	margin-right: -10000px;
	position: relative;
}

#u11398-9
{
	z-index: 46;
	width: 461px;
	min-height: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 34px;
}

#u11398
{
	font-size: 18px;
	line-height: 22px;
	color: #D0D1B8;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u11398-3,#u11398-5,#u11398-7
{
	text-align: center;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11398-2,#u11398-4,#u11398-6
{
	color: #D0D1B8;
	line-height: 35px;
}

#u11399
{
	z-index: 55;
	width: 529px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u11408
{
	z-index: 56;
	width: 528px;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 298px;
}

#u11409
{
	position: absolute;
	width: 528px;
	height: 359px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
}

.ie #u11403.PamphletThumbSelected,.ie #u11399,.ie #u11409
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11409:hover
{
	border-style: none;
	border-color: transparent;
	width: 528px;
	height: 359px;
	min-height: 0px;
	margin: 0px;
}

.ie #u11409:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11409.PamphletThumbSelected
{
	border-radius: 10px;
	width: 528px;
	height: 359px;
	min-height: 0px;
	margin: 0px;
}

.ie #u11409.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 104px;
}

#page .verticalspacer
{
	clear: both;
}

