.version.passion /* version checker */
{
	color: #0000FB;
	background-color: #6A468C;
}

.html
{
	background-color: #23310C;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 800px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -105px;
	padding-bottom: 10px;
	width: 0.01px;
}

#ppu1360
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#pu1360
{
	z-index: 9;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	margin-left: 100px;
}

#u1360
{
	z-index: 0;
	width: 472px;
	border-style: none;
	border-color: transparent;
	background-color: #F0EAE3;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu14195-4
{
	width: 0.01px;
	position: relative;
	left: 45px;
	padding-top: 25px;
	z-index: 2;
	padding-bottom: 18px;
}

#u14195-4
{
	z-index: 139;
	width: 191px;
	min-height: 41px;
	background-color: transparent;
	line-height: 31px;
	position: relative;
}

#u14195
{
	font-size: 26px;
}

#u14196-25
{
	z-index: 143;
	width: 382px;
	min-height: 344px;
	background-color: transparent;
	position: relative;
}

#u14196-4
{
	font-size: 20px;
	text-decoration: underline;
	line-height: 32px;
}

#u14818
{
	float: right;
	margin: 8px -2px -12px;
}

#u14817-4
{
	z-index: 163;
	width: 188px;
	min-height: 69px;
	background-color: transparent;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	color: #1B250B;
	font-family: alice, serif;
	font-weight: 400;
}

#u14196-14,#u14196-18,#u14196-19,#u14196-21,#u14196-23
{
	font-size: 18px;
	line-height: 29px;
	color: #42410B;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u8427
{
	z-index: 6;
	height: 911px;
}

#u8427-bw
{
	z-index: 6;
	margin-top: 1px;
	height: 913px;
}

#u8428
{
	z-index: 7;
	height: 911px;
}

#u8428-bw
{
	z-index: 7;
	margin-top: 1px;
	height: 913px;
}

#u14571
{
	z-index: 8;
	width: 100px;
	min-height: 25px;
	margin-right: -10000px;
	left: 147px;
}

#slideshowu2417
{
	z-index: 10;
	width: 0.01px;
	height: 960px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 572px;
}

#u2418
{
	position: absolute;
	width: 588px;
	height: 960px;
	background-color: transparent;
}

#u2418popup
{
	z-index: 11;
}

#u2496
{
	z-index: 12;
	width: 588px;
	height: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2496_img
{
	margin-left: -24px;
	margin-top: 5px;
	margin-right: -25px;
}

#u2505
{
	z-index: 14;
	width: 588px;
	height: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2505_img
{
	margin: 47px -41px 47px -40px;
}

#u2514
{
	z-index: 16;
	width: 588px;
	height: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2514_img
{
	margin: 3px -25px 2px -24px;
}

#u2523
{
	z-index: 18;
	width: 588px;
	height: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2523_img
{
	margin: 4px -24px;
}

#u2532
{
	z-index: 20;
	width: 588px;
	height: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2532_img
{
	margin: 26px -24px 25px;
}

#u2541
{
	z-index: 22;
	width: 588px;
	height: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2541_img
{
	margin-left: -23px;
	margin-right: -23px;
}

#u2550
{
	z-index: 24;
	width: 588px;
	height: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2496_clip,#u2505_clip,#u2514_clip,#u2523_clip,#u2532_clip,#u2541_clip,#u2550_clip
{
	overflow: hidden;
	width: 588px;
	height: 960px;
}

#u2550_img
{
	margin: 1px -26px 1px -25px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu12763
{
	width: 0.01px;
	padding-bottom: 76px;
	margin-left: -100px;
	margin-top: -1034px;
}

#u12763
{
	z-index: 173;
	height: 5px;
	top: -1px;
}

#u12763-bw
{
	z-index: 173;
}

#u12764
{
	z-index: 174;
	height: 70px;
	top: 4px;
}

#u12764-bw
{
	z-index: 174;
}

#u12765
{
	z-index: 175;
	width: 220px;
	top: 30px;
	left: 50%;
	margin-left: -438px;
}

#u12765_img
{
	padding-right: 11px;
	padding-bottom: 20px;
}

#menuu14197
{
	z-index: 177;
	width: 583px;
	top: 4px;
	left: 50%;
	margin-left: -150px;
}

#u14219
{
	width: 144px;
	min-height: 70px;
	margin-right: -10000px;
}

#u14220
{
	width: 144px;
	padding-bottom: 45px;
}

#u14220:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14220:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14222-4
{
	width: 136px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u14220:hover #u14222-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14220:active #u14222-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14224
{
	width: 313px;
	top: 70px;
}

#u14276
{
	width: 313px;
	padding-bottom: 15px;
	margin-right: -10000px;
}

#u14276:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14278-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u14276:hover #u14278-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14320
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14276.MuseMenuActive,#u14320:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14323-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14276.MuseMenuActive #u14278-4,#u14320:hover #u14323-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14236
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14320.MuseMenuActive,#u14236:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14237-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14320.MuseMenuActive #u14323-4,#u14236:hover #u14237-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14257
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14236.MuseMenuActive,#u14257:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14259-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14236.MuseMenuActive #u14237-4,#u14257:hover #u14259-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14248
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14257.MuseMenuActive,#u14248:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14251-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14257.MuseMenuActive #u14259-4,#u14248:hover #u14251-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14292
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14248.MuseMenuActive,#u14292:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14293-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14248.MuseMenuActive #u14251-4,#u14292:hover #u14293-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14269
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14292.MuseMenuActive,#u14269:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14271-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14292.MuseMenuActive #u14293-4,#u14269:hover #u14271-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14327
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14269.MuseMenuActive,#u14327:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14330-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14269.MuseMenuActive #u14271-4,#u14327:hover #u14330-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14229
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14327.MuseMenuActive,#u14229:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14231-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14327.MuseMenuActive #u14330-4,#u14229:hover #u14231-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14306
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14229.MuseMenuActive,#u14306:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14308-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14229.MuseMenuActive #u14231-4,#u14306:hover #u14308-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14241
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14306.MuseMenuActive,#u14241:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14242-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14306.MuseMenuActive #u14308-4,#u14241:hover #u14242-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14262
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14241.MuseMenuActive,#u14262:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14263-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14241.MuseMenuActive #u14242-4,#u14262:hover #u14263-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14313
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14262.MuseMenuActive,#u14313:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14315-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14262.MuseMenuActive #u14263-4,#u14313:hover #u14315-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14283
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14313.MuseMenuActive,#u14283:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14286-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14313.MuseMenuActive #u14315-4,#u14283:hover #u14286-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14225,#u14275,#u14317,#u14233,#u14254,#u14247,#u14289,#u14268,#u14324,#u14226,#u14303,#u14240,#u14261,#u14310,#u14282,#u14296
{
	width: 313px;
}

#u14297
{
	width: 313px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u14283.MuseMenuActive,#u14297:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14297.MuseMenuActive
{
	width: 313px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14299-4
{
	width: 305px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u14283.MuseMenuActive #u14286-4,#u14297:hover #u14299-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14297.MuseMenuActive #u14299-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u14198
{
	width: 144px;
	min-height: 70px;
	margin-right: -10000px;
	left: 146px;
}

#u14201
{
	width: 144px;
	padding-bottom: 45px;
}

#u14220.MuseMenuActive,#u14201:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14201:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14202-4
{
	width: 136px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u14220.MuseMenuActive #u14222-4,#u14201:hover #u14202-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14201:active #u14202-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14205
{
	width: 144px;
	min-height: 70px;
	margin-right: -10000px;
	left: 292px;
}

#u14208
{
	width: 144px;
	padding-bottom: 45px;
}

#u14201.MuseMenuActive,#u14208:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14208:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14208.MuseMenuActive
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u14211-4
{
	width: 136px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u14201.MuseMenuActive #u14202-4,#u14208:hover #u14211-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14208:active #u14211-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14208.MuseMenuActive #u14211-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u14212
{
	width: 145px;
	min-height: 70px;
	margin-right: -10000px;
	left: 438px;
}

#u14213
{
	width: 145px;
	padding-bottom: 45px;
}

#u14213:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u14213:active
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u14213.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u14214-4
{
	width: 137px;
	min-height: 17px;
	padding: 4px;
	margin-right: -10000px;
	top: 22px;
}

#u14213:hover #u14214-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u14213:active #u14214-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u14213.MuseMenuActive #u14214-4
{
	padding-top: 4px;
	padding-bottom: 4px;
	min-height: 17px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#accordionu10935wrapper
{
	min-height: 827px;
	z-index: 26;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#accordionu10935
{
	z-index: 26;
	width: 1061px;
	border-color: #7F7F7F;
	background-color: #CECEC4;
	position: relative;
}

#u10953
{
	z-index: 27;
	width: 1061px;
	background-color: transparent;
	position: relative;
}

#u10954-4
{
	z-index: 28;
	width: 1049px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10954-4:hover
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 1049px;
	margin: 0px;
}

#u10954-4:active
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 1049px;
	margin: 0px;
}

#u10955
{
	z-index: 32;
	width: 1059px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u11015-10
{
	z-index: 33;
	width: 336px;
	min-height: 344px;
	background-color: transparent;
	line-height: 26px;
	font-size: 16px;
	color: #42410B;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 44px;
}

#u11015-5
{
	padding-right: 3px;
}

#u11015-2,#u11015-4,#u11015-8
{
	padding-right: 3px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11015-7
{
	line-height: 26px;
}

#slideshowu11018
{
	z-index: 43;
	width: 0.01px;
	height: 456px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 471px;
}

#u11036
{
	position: absolute;
	width: 588px;
	height: 456px;
	background-color: transparent;
}

#u11036popup
{
	z-index: 44;
}

#u11041
{
	z-index: 45;
	width: 588px;
	height: 456px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11043
{
	z-index: 47;
	width: 588px;
	height: 456px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11045
{
	z-index: 49;
	width: 588px;
	height: 456px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11047
{
	z-index: 51;
	width: 588px;
	height: 456px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11039
{
	z-index: 53;
	width: 588px;
	height: 456px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11051
{
	z-index: 55;
	width: 588px;
	height: 456px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11049
{
	z-index: 57;
	width: 588px;
	height: 456px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11037
{
	z-index: 59;
	width: 588px;
	height: 456px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11037_clip
{
	overflow: hidden;
	width: 588px;
	height: 456px;
}

#u11037_img
{
	margin: -3px -1px -11px 1px;
}

#u10957
{
	z-index: 61;
	width: 1061px;
	background-color: transparent;
	position: relative;
}

#u10958-4
{
	z-index: 62;
	width: 1049px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10958-4:hover
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 1049px;
	margin: 0px;
}

#u10958-4:active
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 1049px;
	margin: 0px;
}

#u10959
{
	z-index: 66;
	width: 1059px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 2px;
	position: relative;
}

#u11098-14
{
	z-index: 67;
	width: 351px;
	min-height: 344px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 44px;
}

#u11098-2,#u11098-4,#u11098-9
{
	font-size: 16px;
	color: #42410B;
	font-family: abel, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u14640
{
	float: right;
	margin: 14px 2px -10px;
}

#u14639-4
{
	z-index: 78;
	width: 188px;
	min-height: 69px;
	background-color: transparent;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	color: #1B250B;
	font-family: alice, serif;
	font-weight: 400;
}

#slideshowu11100
{
	z-index: 86;
	width: 0.01px;
	height: 680px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 471px;
}

#u11131
{
	position: absolute;
	width: 586px;
	height: 680px;
	background-color: transparent;
}

#u11131popup
{
	z-index: 87;
}

#u11132
{
	z-index: 88;
	width: 586px;
	height: 680px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11132_img
{
	margin-left: -15px;
	margin-right: -15px;
}

#u11138
{
	z-index: 90;
	width: 586px;
	height: 680px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11132_clip,#u11138_clip
{
	overflow: hidden;
	width: 586px;
	height: 680px;
}

#u11138_img
{
	margin-top: -60px;
	margin-bottom: -59px;
}

#u11134
{
	z-index: 92;
	width: 586px;
	height: 680px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u11136
{
	z-index: 94;
	width: 586px;
	height: 680px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u10947
{
	z-index: 96;
	width: 1061px;
	background-color: transparent;
	position: relative;
}

#u10948-4
{
	z-index: 97;
	width: 1049px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10948-4:hover
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 1049px;
	margin: 0px;
}

#u10948-4:active
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 1049px;
	margin: 0px;
}

#u10949
{
	z-index: 101;
	width: 1059px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u11153
{
	z-index: 117;
	width: 587px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 471px;
}

#u11153_clip
{
	overflow: hidden;
	width: 587px;
	height: 654px;
}

#u11153_img
{
	margin: -53px -4px -5px -6px;
}

#u11152-10
{
	z-index: 102;
	width: 344px;
	min-height: 344px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 44px;
}

#u11098-7,#u11152-5
{
	font-size: 18px;
}

#u14642
{
	float: right;
	margin: 9px 2px -5px;
}

#u14641-4
{
	z-index: 111;
	width: 188px;
	min-height: 69px;
	background-color: transparent;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	color: #1B250B;
	font-family: alice, serif;
	font-weight: 400;
}

#u11011
{
	z-index: 119;
	width: 1061px;
	background-color: transparent;
	position: relative;
}

#u11014-4
{
	z-index: 120;
	width: 1049px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11014-4:hover
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 1049px;
	margin: 0px;
}

#u11014-4:active
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 1049px;
	margin: 0px;
}

#u10954-4.AccordionPanelTabOpen,#u10958-4.AccordionPanelTabOpen,#u10948-4.AccordionPanelTabOpen,#u11014-4.AccordionPanelTabOpen
{
	background-color: #4E4C23;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 1049px;
	margin: 0px;
}

#u10954-4.AccordionPanelTabOpen p,#u10958-4.AccordionPanelTabOpen p,#u10948-4.AccordionPanelTabOpen p,#u11014-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u11012
{
	z-index: 124;
	width: 1059px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#slideshowu14721
{
	z-index: 133;
	width: 0.01px;
	height: 433px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 471px;
}

#u14729
{
	position: absolute;
	width: 588px;
	height: 433px;
	background-color: transparent;
}

#u14729popup
{
	z-index: 134;
}

#u14791
{
	z-index: 135;
	width: 588px;
	height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14791_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u14800
{
	z-index: 137;
	width: 588px;
	height: 433px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u14791_clip,#u14800_clip
{
	overflow: hidden;
	width: 588px;
	height: 433px;
}

#u14800_img
{
	margin-left: -24px;
	margin-right: -24px;
}

#u11156-8
{
	z-index: 125;
	width: 370px;
	min-height: 234px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 40px;
}

#u14196,#u14196-3,#u14196-6,#u11015,#u11015-3,#u11098,#u11098-3,#u11152,#u11156
{
	font-size: 20px;
	line-height: 32px;
}

#u11152-3,#u11156-3
{
	line-height: 22px;
}

#u14196-2,#u14196-5,#u14196-7,#u14196-10,#u14196-13,#u11098-12,#u11152-2,#u11152-7,#u11156-2,#u11156-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u14196-9,#u14196-12,#u11015-6,#u11098-6,#u11098-8,#u11098-11,#u11152-4,#u11152-6,#u11156-4
{
	font-size: 18px;
	line-height: 29px;
}

#u11098-5,#u11098-10,#u11152-8,#u11156-6
{
	font-size: 16px;
	line-height: 26px;
	color: #42410B;
	font-family: abel, sans-serif;
	font-weight: 400;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.AccordionPanelTab /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u14717-4
{
	z-index: 2;
	width: 918px;
	min-height: 31px;
	margin-left: 21px;
	margin-top: 59px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 103px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

