.version.passion /* version checker */
{
	color: #0000F8;
	background-color: #18D22F;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #15351E;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.9499999999998px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 71px;
	width: 0.01px;
}

#pamphletu15572
{
	z-index: 150;
	width: 0.01px;
	height: 71px;
	padding-bottom: 428px;
}

#u15581popup
{
	z-index: 151;
}

#u15581
{
	width: 381px;
	padding-bottom: 0px;
	top: 71px;
}

#u15582
{
	z-index: 152;
	width: 380px;
	height: 428px;
	margin-right: -10000px;
}

#u15585
{
	z-index: 153;
	width: 379px;
	height: 427px;
	margin-right: -10000px;
}

#menuu15586
{
	z-index: 154;
	width: 313px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 33px;
}

#u15587
{
	width: 313px;
}

#u15588
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15589-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15601
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15603-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15608
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15609-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15600,#u15607,#u15614
{
	width: 313px;
	margin-top: 2px;
}

#u15615
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15588.MuseMenuActive,#u15601.MuseMenuActive,#u15608.MuseMenuActive,#u15615.MuseMenuActive
{
	width: 313px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15618-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15588.MuseMenuActive #u15589-4,#u15601.MuseMenuActive #u15603-4,#u15608.MuseMenuActive #u15609-4,#u15615.MuseMenuActive #u15618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 313px;
	margin: 0px -10000px 0px 0px;
}

#u15577
{
	z-index: 179;
	width: 220px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 28px;
}

#u15579
{
	width: 276px;
	top: -26px;
	left: -28px;
}

#u15579.PamphletThumbSelected
{
	width: 276px;
	min-height: 0px;
	margin: 0px;
}

#u15580-4
{
	z-index: 181;
	width: 111px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 32px;
}

#u15579.PamphletThumbSelected #u15580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 111px;
	margin: 28px -10000px 0px 0px;
}

#u15621
{
	z-index: 185;
	width: 220px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 28px;
}

#u15579.PamphletThumbSelected #u15621
{
	width: 220px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u15621_img
{
	padding-right: 11px;
	padding-bottom: 20px;
}

#u15578
{
	width: 85px;
	height: 71px;
	top: -26px;
	left: 267px;
}

.ie #u15582,.ie #u15578
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u15567
{
	z-index: 145;
	height: 5px;
}

#u15567-bw
{
	z-index: 145;
	margin-top: -498px;
	margin-bottom: -5px;
	height: 5px;
}

#u15566
{
	z-index: 144;
	min-height: 45px;
	padding-bottom: 25px;
}

#u15568
{
	z-index: 146;
	width: 36px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 318px;
}

#u15571
{
	z-index: 147;
	width: 36px;
	height: 5px;
}

#u15569
{
	z-index: 148;
	width: 36px;
	height: 5px;
	margin-top: 5px;
}

#u15570
{
	z-index: 149;
	width: 36px;
	height: 5px;
	margin-top: 5px;
}

#u15566-bw
{
	z-index: 144;
	min-height: 45px;
	margin-top: -493px;
	margin-bottom: -70px;
}

#pu15721
{
	width: 0.01px;
	margin-top: -422px;
}

#u15721
{
	z-index: 2;
	height: 1237px;
	border-style: none;
	border-color: transparent;
	background-color: #F0EAE3;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
}

#u15721-bw
{
	z-index: 2;
	height: 1237px;
}

#u15722-4
{
	z-index: 3;
	width: 191px;
	min-height: 41px;
	background-color: transparent;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 25px;
}

#u15722
{
	font-size: 26px;
}

#u15723-39
{
	z-index: 7;
	width: 316px;
	min-height: 344px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 25px;
}

#u15723-4
{
	font-size: 20px;
	text-decoration: underline;
	line-height: 32px;
}

#u15724
{
	float: right;
	margin: 8px -2px -12px;
}

#u15725-4
{
	z-index: 41;
	width: 188px;
	min-height: 69px;
	background-color: transparent;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	color: #1B250B;
	font-family: alice, serif;
	font-weight: 400;
}

#u15723-28,#u15723-32,#u15723-33,#u15723-35,#u15723-37
{
	font-size: 18px;
	line-height: 29px;
	color: #42410B;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#slideshowu15726
{
	z-index: 51;
	width: 0.01px;
	height: 203px;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 168px;
}

#u15737
{
	position: absolute;
	width: 190px;
	height: 203px;
	background-color: transparent;
}

#u15737popup
{
	z-index: 52;
}

#u15744
{
	z-index: 53;
	width: 190px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u15748
{
	z-index: 55;
	width: 190px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u15748_clip
{
	overflow: hidden;
	width: 190px;
	height: 203px;
}

#u15748_img
{
	margin-top: -21px;
	margin-bottom: -22px;
}

#u15750
{
	z-index: 57;
	width: 190px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u15740
{
	z-index: 59;
	width: 190px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u15742
{
	z-index: 61;
	width: 190px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u15746
{
	z-index: 63;
	width: 190px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u15738
{
	z-index: 65;
	width: 190px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#accordionu15786wrapper
{
	min-height: 844px;
	z-index: 67;
}

#accordionu15786
{
	z-index: 67;
	border-color: #7F7F7F;
	background-color: #CECEC4;
}

#u15787
{
	z-index: 68;
	background-color: transparent;
}

#u15788-4
{
	z-index: 69;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15788-4:hover
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15788-4:active
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15789
{
	z-index: 73;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 75px;
}

#u15841-10
{
	z-index: 74;
	width: 336px;
	min-height: 344px;
	background-color: transparent;
	line-height: 26px;
	font-size: 16px;
	color: #42410B;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 18px;
}

#u15841-5
{
	padding-right: 3px;
}

#u15841-2,#u15841-4,#u15841-8
{
	padding-right: 3px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u15841-7
{
	line-height: 26px;
}

#u15867
{
	z-index: 84;
	background-color: transparent;
}

#u15903-4
{
	z-index: 85;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15903-4:hover
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15903-4:active
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15868
{
	z-index: 89;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
}

#u15869-14
{
	z-index: 90;
	width: 316px;
	min-height: 344px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 24px;
}

#u15869-2,#u15869-4,#u15869-9
{
	font-size: 16px;
	color: #42410B;
	font-family: abel, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u15870
{
	float: right;
	margin: 14px 2px -10px;
}

#u15871-4
{
	z-index: 101;
	width: 188px;
	min-height: 69px;
	background-color: transparent;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	color: #1B250B;
	font-family: alice, serif;
	font-weight: 400;
}

#u15904
{
	z-index: 109;
	background-color: transparent;
}

#u15911-4
{
	z-index: 110;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15911-4:hover
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15911-4:active
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15905
{
	z-index: 114;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 34px;
}

#u15908-10
{
	z-index: 115;
	width: 319px;
	min-height: 344px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 21px;
}

#u15869-7,#u15908-5
{
	font-size: 18px;
}

#u15909
{
	float: right;
	margin: 21px 2px -17px;
}

#u15910-4
{
	z-index: 124;
	width: 188px;
	min-height: 69px;
	background-color: transparent;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	color: #1B250B;
	font-family: alice, serif;
	font-weight: 400;
}

#u15842
{
	z-index: 130;
	background-color: transparent;
}

#u15843-4
{
	z-index: 131;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15843-4:hover
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15843-4:active
{
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15788-4.AccordionPanelTabOpen,#u15903-4.AccordionPanelTabOpen,#u15911-4.AccordionPanelTabOpen,#u15843-4.AccordionPanelTabOpen
{
	background-color: #4E4C23;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15788-4.AccordionPanelTabOpen p,#u15903-4.AccordionPanelTabOpen p,#u15911-4.AccordionPanelTabOpen p,#u15843-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u15844
{
	z-index: 135;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
}

#u15866-8
{
	z-index: 136;
	width: 324px;
	min-height: 234px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 22px;
}

#u15723,#u15723-3,#u15723-6,#u15841,#u15841-3,#u15869,#u15869-3,#u15908,#u15866
{
	font-size: 20px;
	line-height: 32px;
}

#u15908-3,#u15866-3
{
	line-height: 22px;
}

#u15723-2,#u15723-5,#u15723-7,#u15723-10,#u15723-12,#u15723-14,#u15723-16,#u15723-18,#u15723-20,#u15723-22,#u15723-24,#u15723-27,#u15869-12,#u15908-2,#u15908-7,#u15866-2,#u15866-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u15723-9,#u15723-11,#u15723-13,#u15723-15,#u15723-17,#u15723-19,#u15723-21,#u15723-23,#u15723-26,#u15841-6,#u15869-6,#u15869-8,#u15869-11,#u15908-4,#u15908-6,#u15866-4
{
	font-size: 18px;
	line-height: 29px;
}

#u15869-5,#u15869-10,#u15908-8,#u15866-6
{
	font-size: 16px;
	line-height: 26px;
	color: #42410B;
	font-family: abel, sans-serif;
	font-weight: 400;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.AccordionPanelTab /* slideshowFreeStyle */
{
	cursor: pointer;
}

#accordionu15786-bw
{
	z-index: 67;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

