.version.portfolio /* version checker */
{
	color: #0000F5;
	background-color: #2F5E53;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #15351E;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#page_position_content
{
	padding-bottom: 71px;
	width: 0.01px;
}

#pamphletu15572
{
	z-index: 156;
	width: 0.01px;
	height: 71px;
	padding-bottom: 428px;
}

#u15581popup
{
	z-index: 157;
}

#u15581
{
	width: 381px;
	padding-bottom: 0px;
	top: 71px;
}

#u15582
{
	z-index: 158;
	width: 380px;
	height: 428px;
	margin-right: -10000px;
}

#u15585
{
	z-index: 159;
	width: 379px;
	height: 427px;
	margin-right: -10000px;
}

#menuu15586
{
	z-index: 160;
	width: 313px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 33px;
}

#u15587
{
	width: 313px;
}

#u15588
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15589-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15601
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15603-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15608
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15609-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15600,#u15607,#u15614
{
	width: 313px;
	margin-top: 2px;
}

#u15615
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15588.MuseMenuActive,#u15601.MuseMenuActive,#u15608.MuseMenuActive,#u15615.MuseMenuActive
{
	width: 313px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15618-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15588.MuseMenuActive #u15589-4,#u15601.MuseMenuActive #u15603-4,#u15608.MuseMenuActive #u15609-4,#u15615.MuseMenuActive #u15618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 313px;
	margin: 0px -10000px 0px 0px;
}

#u15577
{
	z-index: 185;
	width: 220px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 28px;
}

#u15579
{
	width: 276px;
	top: -26px;
	left: -28px;
}

#u15579.PamphletThumbSelected
{
	width: 276px;
	min-height: 0px;
	margin: 0px;
}

#u15580-4
{
	z-index: 187;
	width: 111px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 32px;
}

#u15579.PamphletThumbSelected #u15580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 111px;
	margin: 28px -10000px 0px 0px;
}

#u15621
{
	z-index: 191;
	width: 220px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 28px;
}

#u15579.PamphletThumbSelected #u15621
{
	width: 220px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u15621_img
{
	padding-right: 11px;
	padding-bottom: 20px;
}

#u15578
{
	width: 85px;
	height: 71px;
	top: -26px;
	left: 267px;
}

.ie #u15582,.ie #u15578
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u15567
{
	z-index: 151;
	height: 5px;
}

#u15567-bw
{
	z-index: 151;
	margin-top: -498px;
	margin-bottom: -5px;
	height: 5px;
}

#u15566
{
	z-index: 150;
	min-height: 45px;
	padding-bottom: 25px;
}

#u15568
{
	z-index: 152;
	width: 36px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 318px;
}

#u15571
{
	z-index: 153;
	width: 36px;
	height: 5px;
}

#u15569
{
	z-index: 154;
	width: 36px;
	height: 5px;
	margin-top: 5px;
}

#u15570
{
	z-index: 155;
	width: 36px;
	height: 5px;
	margin-top: 5px;
}

#u15566-bw
{
	z-index: 150;
	min-height: 45px;
	margin-top: -493px;
	margin-bottom: -70px;
}

#u15628
{
	z-index: 2;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 83px;
	top: -428px;
	margin-bottom: -240px;
	position: relative;
}

#pu15629
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15629
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u15630
{
	z-index: 4;
	width: 182px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u15631
{
	z-index: 5;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u15633-6
{
	z-index: 7;
	width: 135px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 10px;
	position: relative;
}

#u15645
{
	z-index: 34;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	top: -178px;
	margin-bottom: -178px;
	position: relative;
}

#pu15649
{
	z-index: 35;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15649
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u15646
{
	z-index: 36;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15648-6
{
	z-index: 38;
	width: 166px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 10px;
	position: relative;
}

#u15665
{
	z-index: 72;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 14px;
	position: relative;
}

#pu15666
{
	z-index: 73;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15666
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu15667
{
	width: 0.01px;
	padding-bottom: 5.00406091370553px;
	position: relative;
	left: 15px;
	padding-top: 18px;
	z-index: 2;
}

#u15667
{
	z-index: 74;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15669-6
{
	z-index: 76;
	width: 177px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 10px;
	position: relative;
}

#u15685
{
	z-index: 112;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 15px;
	position: relative;
}

#pu15687
{
	z-index: 113;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15687
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u15688
{
	z-index: 114;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15686-6
{
	z-index: 116;
	width: 113px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 10px;
	position: relative;
}

#u15634
{
	z-index: 13;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 15px;
	position: relative;
}

#pu15635
{
	z-index: 14;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15635
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u15636
{
	z-index: 15;
	width: 182px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u15637
{
	z-index: 16;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u15639-6
{
	z-index: 18;
	width: 177px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 9px;
	position: relative;
}

#u15650
{
	z-index: 44;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 14px;
	position: relative;
}

#pu15652
{
	z-index: 45;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15652
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u15653
{
	z-index: 46;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15651-6
{
	z-index: 48;
	width: 193px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 10px;
	position: relative;
}

#u15670
{
	z-index: 82;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 15px;
	position: relative;
}

#pu15671
{
	z-index: 83;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15671
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu15646,#pu15688,#pu15636,#pu15653,#pu15672
{
	width: 0.01px;
	padding-bottom: 5.0040609137056435px;
	position: relative;
	left: 15px;
	padding-top: 18px;
	z-index: 2;
}

#u15672
{
	z-index: 84;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15674-6
{
	z-index: 86;
	width: 189px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 10px;
	position: relative;
}

#u15690
{
	z-index: 122;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 14px;
	position: relative;
}

#pu15691
{
	z-index: 123;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15691
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu15630,#pu15693
{
	width: 0.01px;
	padding-bottom: 4.003045685279176px;
	position: relative;
	left: 15px;
	padding-top: 18px;
	z-index: 2;
}

#u15693
{
	z-index: 124;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15692-4
{
	z-index: 126;
	width: 193px;
	min-height: 39px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 10px;
	position: relative;
}

#u15700
{
	z-index: 140;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 15px;
	position: relative;
}

#pu15702
{
	z-index: 141;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15702
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u15703
{
	z-index: 142;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15701-6
{
	z-index: 144;
	width: 145px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 7px;
	position: relative;
}

#u15655
{
	z-index: 54;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 15px;
	position: relative;
}

#pu15656
{
	z-index: 55;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15656
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u15657
{
	z-index: 56;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15657_img
{
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -9px;
}

#u15659-6
{
	z-index: 58;
	width: 193px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 7px;
	position: relative;
}

#u15675
{
	z-index: 92;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 14px;
	position: relative;
}

#pu15677
{
	z-index: 93;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15677
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu15678
{
	width: 0.01px;
	padding-bottom: 9.008121827411287px;
	position: relative;
	left: 15px;
	padding-top: 18px;
	z-index: 2;
}

#u15678
{
	z-index: 94;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15678_img
{
	margin-top: -10px;
	margin-bottom: -23px;
}

#u15676-6
{
	z-index: 96;
	width: 160px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 6px;
	position: relative;
}

#u15695
{
	z-index: 130;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 12px;
	position: relative;
}

#pu15697
{
	z-index: 131;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15697
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u15698
{
	z-index: 132;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15657_clip,#u15678_clip,#u15698_clip
{
	overflow: hidden;
	width: 183px;
	height: 169px;
}

#u15698_img
{
	margin-left: -14px;
	margin-right: -15px;
}

#u15696-6
{
	z-index: 134;
	width: 138px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 7px;
	position: relative;
}

#u15640
{
	z-index: 24;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 83px;
	margin-top: 17px;
	position: relative;
}

#pu15644
{
	z-index: 25;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15644
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u15641
{
	z-index: 26;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15643-6
{
	z-index: 28;
	width: 149px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 7px;
	position: relative;
}

#u15660
{
	z-index: 64;
	width: 232px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 17px;
	position: relative;
}

#u15663-4
{
	z-index: 68;
	width: 217px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 15px;
}

#pu15664
{
	z-index: 65;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15664
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu15661
{
	width: 0.01px;
	position: relative;
	left: 15px;
	padding-top: 18px;
	z-index: 2;
	padding-bottom: 53px;
}

#u15661
{
	z-index: 66;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u15661_img
{
	padding-right: 4px;
}

#u15680
{
	z-index: 102;
	width: 215px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 25px;
	position: relative;
}

#pu15681
{
	z-index: 103;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u15681
{
	z-index: 0;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u15629:hover,#u15649:hover,#u15666:hover,#u15687:hover,#u15635:hover,#u15652:hover,#u15671:hover,#u15691:hover,#u15702:hover,#u15656:hover,#u15677:hover,#u15697:hover,#u15644:hover,#u15664:hover,#u15681:hover
{
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	width: 213px;
	min-height: 0px;
	margin: 0px;
}

#pu15703,#pu15657,#pu15698,#pu15641,#pu15682
{
	width: 0.01px;
	padding-bottom: 8.007106598985047px;
	position: relative;
	left: 15px;
	padding-top: 18px;
	z-index: 2;
}

#u15682
{
	z-index: 104;
	width: 183px;
	background-color: transparent;
	position: relative;
}

#u15684-6
{
	z-index: 106;
	width: 169px;
	min-height: 38px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: alice, serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 7px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

