.version.process /* version checker */
{
	color: #0000F8;
	background-color: #54AECF;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #15351E;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.5116301327955px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 71px;
	width: 0.01px;
}

#pamphletu15572
{
	z-index: 143;
	width: 0.01px;
	height: 71px;
	padding-bottom: 428px;
}

#u15581popup
{
	z-index: 144;
}

#u15581
{
	width: 381px;
	padding-bottom: 0px;
	top: 71px;
}

#u15582
{
	z-index: 145;
	width: 380px;
	height: 428px;
	margin-right: -10000px;
}

#u15585
{
	z-index: 146;
	width: 379px;
	height: 427px;
	margin-right: -10000px;
}

#menuu15586
{
	z-index: 147;
	width: 313px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 33px;
}

#u15587
{
	width: 313px;
}

#u15588
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15589-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15601
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15603-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15608
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15609-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15600,#u15607,#u15614
{
	width: 313px;
	margin-top: 2px;
}

#u15615
{
	width: 313px;
	min-height: 17px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u15588.MuseMenuActive,#u15601.MuseMenuActive,#u15608.MuseMenuActive,#u15615.MuseMenuActive
{
	width: 313px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u15618-4
{
	width: 313px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u15588.MuseMenuActive #u15589-4,#u15601.MuseMenuActive #u15603-4,#u15608.MuseMenuActive #u15609-4,#u15615.MuseMenuActive #u15618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 313px;
	margin: 0px -10000px 0px 0px;
}

#u15577
{
	z-index: 172;
	width: 220px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 28px;
}

#u15579
{
	width: 276px;
	top: -26px;
	left: -28px;
}

#u15579.PamphletThumbSelected
{
	width: 276px;
	min-height: 0px;
	margin: 0px;
}

#u15580-4
{
	z-index: 174;
	width: 111px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 32px;
}

#u15579.PamphletThumbSelected #u15580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 111px;
	margin: 28px -10000px 0px 0px;
}

#u15621
{
	z-index: 178;
	width: 220px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 28px;
}

#u15579.PamphletThumbSelected #u15621
{
	width: 220px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u15621_img
{
	padding-right: 11px;
	padding-bottom: 20px;
}

#u15578
{
	width: 85px;
	height: 71px;
	top: -26px;
	left: 267px;
}

.ie #u15582,.ie #u15578
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u15567
{
	z-index: 138;
	height: 5px;
}

#u15567-bw
{
	z-index: 138;
	margin-top: -498px;
	margin-bottom: -5px;
	height: 5px;
}

#u15566
{
	z-index: 137;
	min-height: 45px;
	padding-bottom: 25px;
}

#u15568
{
	z-index: 139;
	width: 36px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 318px;
}

#u15571
{
	z-index: 140;
	width: 36px;
	height: 5px;
}

#u15569
{
	z-index: 141;
	width: 36px;
	height: 5px;
	margin-top: 5px;
}

#u15570
{
	z-index: 142;
	width: 36px;
	height: 5px;
	margin-top: 5px;
}

#u15566-bw
{
	z-index: 137;
	min-height: 45px;
	margin-top: -493px;
	margin-bottom: -70px;
}

#pu15975
{
	width: 0.01px;
	margin-top: -422px;
}

#u15975
{
	z-index: 128;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u15975-bw
{
	z-index: 128;
	height: 427px;
}

#u15976-4
{
	z-index: 129;
	width: 294px;
	min-height: 120px;
	background-color: transparent;
	line-height: 29px;
	font-size: 18px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 41px;
}

#u15977-4
{
	z-index: 133;
	width: 294px;
	min-height: 41px;
	background-color: transparent;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 41px;
}

#accordionu15942
{
	z-index: 2;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u15963
{
	z-index: 3;
	background-color: transparent;
}

#u15966-4
{
	z-index: 4;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15966-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15966-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15964
{
	z-index: 8;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u15965-8
{
	z-index: 9;
	width: 294px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 40px;
}

#u15971
{
	z-index: 17;
	background-color: transparent;
}

#u15974-4
{
	z-index: 18;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15974-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15974-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15972
{
	z-index: 22;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u15973-7
{
	z-index: 23;
	width: 294px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 40px;
}

#u15947
{
	z-index: 30;
	background-color: transparent;
}

#u15950-4
{
	z-index: 31;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15950-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15950-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15948
{
	z-index: 35;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u15949-7
{
	z-index: 36;
	width: 295px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 39px;
}

#u15959
{
	z-index: 43;
	background-color: transparent;
}

#u15962-4
{
	z-index: 44;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15962-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15962-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15960
{
	z-index: 48;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u15961-13
{
	z-index: 49;
	width: 294px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 40px;
}

#u15943
{
	z-index: 62;
	background-color: transparent;
}

#u15944-4
{
	z-index: 63;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15944-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15944-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15945
{
	z-index: 67;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u15946-13
{
	z-index: 68;
	width: 294px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 40px;
}

#u15955
{
	z-index: 81;
	background-color: transparent;
}

#u15958-4
{
	z-index: 82;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15958-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15958-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15956
{
	z-index: 86;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u15957-8
{
	z-index: 87;
	width: 305px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 40px;
}

#u15967
{
	z-index: 95;
	background-color: transparent;
}

#u15968-4
{
	z-index: 96;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15968-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15968-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15969
{
	z-index: 100;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u15970-10
{
	z-index: 101;
	width: 305px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 40px;
}

#u15951
{
	z-index: 111;
	background-color: transparent;
}

#u15954-4
{
	z-index: 112;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #8C6239;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u15954-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15954-4:active
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #959595;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u15966-4.AccordionPanelTabOpen,#u15974-4.AccordionPanelTabOpen,#u15950-4.AccordionPanelTabOpen,#u15962-4.AccordionPanelTabOpen,#u15944-4.AccordionPanelTabOpen,#u15958-4.AccordionPanelTabOpen,#u15968-4.AccordionPanelTabOpen,#u15954-4.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: #4E4C23;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	margin: 0px 1px 1px 0px;
}

#u15966-4.AccordionPanelTabOpen p,#u15974-4.AccordionPanelTabOpen p,#u15950-4.AccordionPanelTabOpen p,#u15962-4.AccordionPanelTabOpen p,#u15944-4.AccordionPanelTabOpen p,#u15958-4.AccordionPanelTabOpen p,#u15968-4.AccordionPanelTabOpen p,#u15954-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u15952
{
	z-index: 116;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u15953-11
{
	z-index: 117;
	width: 307px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 40px;
}

#u15965-2,#u15949-2,#u15961-2,#u15946-2,#u15970-2,#u15953-2
{
	font-size: 20px;
	line-height: 32px;
}

#u15965-5,#u15949-3,#u15949-5,#u15961-3,#u15961-5,#u15961-6,#u15961-8,#u15961-9,#u15961-11,#u15946-3,#u15946-5,#u15946-6,#u15946-8,#u15946-9,#u15946-11,#u15957-2,#u15957-3,#u15957-5,#u15970-3,#u15970-5,#u15970-6,#u15970-7,#u15953-3,#u15953-5,#u15953-6,#u15953-8
{
	font-size: 18px;
	line-height: 29px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#accordionu15942-bw
{
	z-index: 2;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

